<div class="collumn">
    <h1 [class.notmobile]="!isMobile">Passionate Software Engineer & Web Designer</h1>
    <h2 >I create web & mobile tools from a simple web site to a full web app</h2>
    <img [class.notmobile]="!isMobile" src="assets/mf-avatar.svg" width="210px" />
    <br/>
    <div [class.notmobile]="!isMobile">
        <a href="https://github.com/lucas-naman" target="_blank" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/lucas-naman/" target="_blank" class="fa fa-linkedin"></a>
        <a href="mailto:lucas.naman@gmail.com" target="_blank" class="fa fa-envelope"></a>
    </div>
    <a mat-raised-button color="primary" href="assets/Lucas-Naman-Software-Engineer-Resume.pdf" target="_blank">Resume / CV</a>

</div>