<div class="page">
    <mat-card *ngFor="let job of jobs" class="example-card" [style.width.px]="size">
        <mat-card-header>
            <div mat-card-avatar [style.background-image]="'url('+ job.logo +')'" class="example-header-image"></div>
            <mat-card-title>{{ job.company }}</mat-card-title>
            <mat-card-subtitle>{{ job.location }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
            <h3>{{ job.tittle }}</h3>
            <mat-card-subtitle>{{ job.start }} - {{ job.end }}</mat-card-subtitle>
            <p>{{ job.desc }}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button style="color: #3f51b5" [href]="job.website" target="_blank">Web Site</a>
            <a mat-raised-button color="primary" [href]="job.linkedin" target="_blank">LinkedIn</a>
        </mat-card-actions>
    </mat-card>
</div>